
@import url('hfonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {

  --primary-color:  #6C584C  ;
  --secondary-color: #DDE5B6 ;
  --accent1-color: #AADC1784;
  --accent2-color: white;

  --heading-font:
  --paragraph-font: Lato, Helvetica, sans-serif;


  --headline-color-on-white: #6C584C;   
  --headline-color-on-color: white;  
  --paragraph-color-on-white: #6C584C;  
  --paragraph-color-on-color: white;  
  --paragraph-background-color: #6c584c  ;
  --nav-link-color: #AADC1784;
  ;
  --paragraph-background-color: #6c584c  ;
  --nav-background-color:
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}

 /* External Stylesheet */

/* Container for entire page */
#content {
  max-width: 1600px;
  margin: 0 auto;
}

/* Centering */
nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
  text-align: center;
}

/* Background container */
#background {
  height: 725px;
}

/* Background colors */
body {
  background-color: white;
}

header {
  background-color: var(--headline-color-on-white);
}

nav a:hover {
  background-color: var(--nav-hover-backound-color);
}

.book,
.join {
  background-color: var(--accent1-color);
}

.book:hover,
.join:hover {
  background-color: var(--accent1-color);
}

#background {
  background-color: var(--accent2-color);
}

.msg {
  background-color: var(--paragraph-background-color);
}

footer {
  background-color: var(--paragraph-background-color);
}

/* Foreground colors */
nav a,
nav a:hover,
.home-title,
h4,
.book,
.join,
.book:hover,
.join:hover,
.msg h2,
.msg p,
footer p,
footer a,
footer a:hover {
  color: var(--nav-link-color);
}

/* Widths */
.logo,
.icon {
  width: 80px;
}

#hero-img {
  width: 100%;
}

/* Remove default underline of links */
nav a,
.book,
.join,
footer a {
  text-decoration: none;
}

/* Add underline on hover */
footer p a:hover {
  text-decoration: underline;
}

/* Footer font size */
footer p {
  font-size: 1.2em;
}